.Bubble {
    padding: 15px;
    background-color: rgba(182, 221, 211, 0.534);
    border-radius: 12px;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.Bubble div {
    overflow-y: scroll;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
}

.Bubble p {
    margin: 0;
}

.hide {
    position: fixed;
    visibility: hidden;
}

p.header {
    color: #888888;
    text-align: left;
    margin-bottom: 5px;
}

div.proj-links {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
}

div.proj-links a {
    border: none;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

div.proj-links a:hover {
    background: none;
}

@media (prefers-reduced-motion: no-preference) {
    .animate {
        animation: BubbleIn 1.5s ease-out backwards;
    }

    .deanimate {
        animation: FadeOut 1.5s ease-in forwards;
    }
}

@keyframes BubbleIn {
    0% {
        opacity: 0;
        transform: scale(1);
        position: static;
    }
    25% {
        opacity: 0.5;
        transform: scale(1.05);
    }
    50% {
        opacity: 0.75;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
