.Bubble {
    padding: 15px;
    background-color: rgb(224, 237, 238);
    border-radius: 12px;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.Bubble div {
    overflow-y: scroll;
    height: 33vh;
}

.Bubble p {
    margin: 0;
}

.hide {
    position: fixed;
    visibility: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    .animate {
        animation: BubbleIn 1.5s ease-out backwards;
    }

    .deanimate {
        animation: FadeOut 1.5s ease-in forwards;
    }
}

@keyframes BubbleIn {
    0% {
        opacity: 0;
        transform: scale(1);
        position: static;
    }
    25% {
        opacity: 0.5;
        transform: scale(1.05);
    }
    50% {
        opacity: 0.75;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .Bubble div {
        height: 32vh;
    }
}
@media (max-width: 500px) {
    .Bubble div {
        height: 20vh;
    }
}

@media (max-width: 350px) {
    .Bubble div {
        height: 18vh;
    }
}
