.Nav {
    background-color: rgba(182, 217, 221, 0.8);
    width: 100vw;
    z-index: 10;
    position: fixed;
}

h4.Nav {
    top: 0;
    left: 0;
    padding: 20px;
    margin: 0;
    color: rgb(105, 105, 105);
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    text-shadow: rgb(215, 241, 240) 1px 1px;
}

@media (max-width: 500px) {
    h4.Nav {
        display: none;
    }
}
