.ProjectDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 33vh;
    gap: 1rem;
}

div.Bubble.Project {
    padding: 0;
}

.show {
    grid-auto-rows: 12vh;
    grid-template-columns: repeat(5, 18vw);
    margin: 0 auto;
}

.show img {
    object-fit: scale-down;
    height: 10vh;
}

.thumbnail {
    grid-area: span 1 / span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProjectDisplay div.Bubble {
    margin: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.ProjectDisplay img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.ProjectDisplay .thumbnail img {
    margin-left: 10%;
    margin-right: 10px;
    height: 10vh;
    width: 15vh;
}
.ProjectDisplay .thumbnail h4 {
    margin-left: 4%;
}

.imgGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-auto-rows: 40vh;
    overflow: hidden;
}

.imgGrid a img,
.imgGrid a {
    width: 30vw;
    margin: 5px;
    height: 40vh;
    object-fit: scale-down;
    border: none;
    border-radius: 0%;
}

.imgGrid a:hover,
.ProjectDisplay div.Bubble:hover {
    cursor: pointer;
}

.tags {
    display: flex;
    width: 100%;
    align-items: center;
}

.tag {
    background-color: aliceblue;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

.display {
    margin-top: 50px;
}

.projectInfo {
    display: flex;
    padding: 18px;
    text-align: justify;
}

.projectInfo .projectText {
    margin: 0;
    margin-right: 30px;
}

.projectLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
}

div.tags {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .display {
        animation: Grow 1s linear forwards;
    }
    .undisplay {
        animation: unGrow 1s ease-out forwards;
    }
}

@keyframes Grow {
    from {
        height: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        width: 25vw;
    }
    to {
        height: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        width: 100%;
    }
}
@keyframes unGrow {
    to {
        height: 0;
        width: 0;
        opacity: 0;
    }
    from {
        height: 65vh;
        width: 100vw;
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    .imgGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .imgGrid a img,
    .imgGrid a {
        width: 44vw;
    }
}
@media (max-width: 900px) {
    .ProjectSection {
        padding: 15px;
    }
}

@media (max-width: 750px) {
    .ProjectSection {
        padding: 5px;
    }
    .imgGrid {
        grid-template-columns: 1fr;
    }
    .imgGrid a img,
    .imgGrid a {
        width: 80vw;
        margin: 0 auto;
    }
}
