main {
    display: flex;
    text-align: left;
    margin: 50px 100px 50px 120px;
}

aside {
    width: 20vw;
}

main div {
    width: 70vw;
}

.Bubble.Resume {
    width: 85%;
}

.Bubble.Resume div {
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    text-align: left;
}
