@import url('https://fonts.googleapis.com/css2?family=Abel&family=Yantramanav:wght@400;500&display=swap');

.App {
    text-align: left;
    background-color: aliceblue;
    color: rgb(65, 65, 65);
    min-height: 100vh;
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
}

section {
    padding: 30px;
}

.statementGrid {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40vh;
    width: 100%;
    position: relative;
}

div.AboutMe {
    padding-top: 10vh;
}

div.AboutMe div {
    padding-left: 20vw;
    padding-right: 30px;
}

div.AboutMe button {
    float: right;
    margin: 25px 40px 40px 25px;
    border-radius: 6px;
    padding: 8px;
    border: 2px grey solid;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(107, 107, 107);
}

div.AboutMe button:focus {
    outline: none;
}
div.AboutMe button:hover {
    background-color: rgb(224, 237, 238);
    color: rgb(121, 168, 172);
    border-color: rgb(121, 168, 172);
    cursor: pointer;
}

img {
    height: 40vh;
    float: left;
    border-radius: 12px;
    margin: 5px 5px 15px 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 1650px) {
    .statementGrid {
        grid-auto-rows: 30vh;
    }
}
@media (max-width: 1250px) {
    .statementGrid {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vh;
    }
}

@media (max-width: 750px) {
    .statementGrid {
        grid-template-columns: 1fr;
        grid-auto-rows: 27vh;
    }
}

@media (max-width: 350px) {
    div.AboutMe div {
        width: 100%;
        padding: 0;
    }
}
