@import url('https://fonts.googleapis.com/css2?family=Abel&family=Yantramanav:wght@400;500&display=swap');

.App {
    text-align: left;
    background-color: aliceblue;
    color: rgb(65, 65, 65);
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 0;
    padding-top: 40px;
}

h1,
h2,
h3,
h4,
p.testimonialName,
p.header {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
}

p.testimonialName span {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    color: #888888;
}

section {
    padding: 40px;
    width: 100%;
}
div.aboutme-header {
    display: flex;
}

div.testimonials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

div.testimonial {
    width: 47%;
    text-align: justify;
}

.statementGrid {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: 40px 0;
}

div.AboutMe {
    margin-top: 5vw;
}

div.AboutMe div div {
    padding-left: 20vw;
    padding-right: 30px;
}

div.AboutMe button {
    float: right;
    margin: 25px 40px 40px 25px;
    border-radius: 6px;
    padding: 8px;
    border: 2px grey solid;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(107, 107, 107);
    background-color: aliceblue;
}

div.AboutMe button:focus {
    outline: none;
    background-color: aliceblue;
    color: rgb(107, 107, 107);
    border: 2px grey solid;
}
div.AboutMe button:hover {
    background-color: rgba(198, 231, 235, 0.6);
    color: rgba(147, 178, 182);
    border-color: rgba(147, 178, 182, 0.8);
    cursor: pointer;
}

img.aboutMe {
    max-height: 350px;
    width: 275px;
    object-fit: cover;
    border-radius: 12px;
    margin: 5px 5px 15px 20px;
}

p.brand {
    text-align: justify;
}

@media (max-width: 1250px) {
    .statementGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 950px) {
    img.aboutMe {
        display: none;
    }
    div.AboutMe button {
        width: 92%;
        float: none;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .statementGrid {
        grid-template-columns: 1fr;
    }

    div.testimonials {
        display: flex;
        flex-direction: column;
    }

    div.testimonial {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .App {
        font-size: small;
    }

    div.AboutMe h2 {
        font-size: 2.5em;
        margin: 0 auto;
    }

    section {
        padding: 10px;
    }
}
@media (max-width: 350px) {
    div.AboutMe div {
        width: 100%;
        padding: 0;
    }
}
